* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

div.items {
  
  margin-top: 20px;
  
  
}


div.items ul li {
  padding: 5px;
  border: 1px solid #7159c1;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 3em;
}



div.items li + li {
  margin-top: 15px;
}

button {
  background: #7159c1;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
  font-size: 14px;
}

div.items li button {
  margin: 0 15px;
  background: #ca4949;
  
}



.container{
  max-width: 800px;
  margin: 0 auto;
}

.flex{
  display: flex;
  flex-direction: column; 
}

h1{
  color: #7159c1;
  margin: 10px 0;
  text-align: center;
}

form button{
  display: flex;
  width: 100%;
  justify-content: center;
}

legend{
  font-size: large;
}


fieldset{
  
  padding: 10px;
}


.row{
    display: flex;
    flex-direction: column;
}

.row label{
  margin-top: 10px;
}

.row input{
  padding: 10px;
}


